extends placeholders/header.pug

block content
  #fullpage
    .section#RenderAnim
      .header.text-center
        h1#typer
      .scrollDown
        .arrow.arrow-1
        .arrow.arrow-2
      #canvasSea

    .section
      | My is is Rafay
      //- nav.navbar.navbar-dark.bg-dark#header
      //-   a.navbar-brand(href='#') Navbar w/ text
      //-   button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
      //-     span.navbar-toggler-icon
      //-   #navbarText.collapse.navbar-collapse
      //-     ul.navbar-nav.mr-auto
      //-       li.nav-item.active
      //-         a.nav-link(href='#')
      //-           | Home
      //-           span.sr-only (current)
      //-       li.nav-item
      //-         a.nav-link(href='#') Features
      //-       li.nav-item
      //-         a.nav-link(href='#') Pricing
      //-     span.navbar-text
            //- | Navbar text with an inline element

    .section
      | My is is Zoya
